<h3>AGENTS LIST</h3>
<div ng-controller="agentCtrl">
    <table class="table table-bordered table-hover" ng-init="onAgentInIt()">
        <!--ng-init="OnAgentInit()"-->
        <thead></thead>
        <tbody>
            <tr>
                <th>#</th>
                <th>
                    Agent Name
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="agent in agentList">
                <td>{{$index+1}} <input type="hidden" ng-model="agent.AgentId" /> </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="agent.AgentName" ng-disabled="!agent.editAgentItem" ng-focus="agent.AgentNameOldValue = agent.AgentName">
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" ng-if="!agent.editAgentItem" ng-click="agent.editAgentItem = !agent.editAgentItem"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-default btn-sm" ng-if="agent.editAgentItem" confirmed-click="updateAgentItem($index)" ng-confirm-click="Would you like to Update?">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-if="agent.editAgentItem" ng-click="agent.editAgentItem = !agent.editAgentItem; agent.AgentName = agent.AgentNameOldValue;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" confirmed-click="deleteAgentItem($index)" ng-confirm-click="Would you like to Delete?">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{agentList.length +1}}</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="AgentName">
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" confirmed-click="addAgentItem()" ng-confirm-click="Would you like to Insert?" ng-disabled="AgentName.length==0">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>