<h3>OPEN HOUSE LIST</h3>

<div ng-controller="openhouseCtrl" ng-init="onOpenHouseInIt()">
    <table class="table table-bordered table-hover">
        <!--ng-init="OnOpenHouseInIt()"-->
        <thead></thead>
        <tbody>
            <tr>
                <th>#</th>
                <th>
                    Begin Date
                </th>
                <th>
                    End Date
                </th>
                <th>Listing Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="openhouse in openHouseList">
                <td>
                    {{$index+1}} <input type="hidden" ng-model="openhouse.OpenHouseId" />
                </td>
                <td>
                    <input type="datetime-local" class="form-control input-sm" ng-model="openhouse.OpenHouseBeginDate" ng-disabled="!openhouse.editOpenHouseListItem">
                </td>
                <td>
                    <input type="datetime-local" class="form-control input-sm" ng-model="openhouse.OpenHouseEndDate" ng-disabled="!openhouse.editOpenHouseListItem">
                </td>
                <td>
                    <!--<select class="form-control input-sm" ng-model="openhouse.ListingId" ng-disabled="!openhouse.editOpenHouseListItem">
                        <option value="1">Pride and Prejudice</option>
                    </select>-->
                    <select class="form-control input-sm" ng-model="openhouse" ng-if="!openhouse.editOpenHouseListItem" ng-options="lst.ListingName for lst in listingList track by lst.ListingId" ng-disabled="!openhouse.editOpenHouseListItem"></select>
                    <select class="form-control input-sm" ng-model="listingEditSelect" ng-if="openhouse.editOpenHouseListItem" ng-options="listingEditItem as listingEditItem.ListingName for listingEditItem in listingList track by listingEditItem.ListingId" ng-change="updateEditSelectedItem(listingEditSelect)" ng-disabled="!openhouse.editOpenHouseListItem"></select>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" ng-if="!openhouse.editOpenHouseListItem" ng-click="openhouse.editOpenHouseListItem = !openhouse.editOpenHouseListItem; editItemClick($index);"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" class="btn btn-default btn-sm" ng-if="openhouse.editOpenHouseListItem" confirmed-click="updateOpenHouseItem($index)" ng-confirm-click="Would you like to Update?"><span class="glyphicon glyphicon-ok"></span></button>
                        <button type="button" class="btn btn-default btn-sm" ng-if="openhouse.editOpenHouseListItem" ng-click="openhouse.editOpenHouseListItem = !openhouse.editOpenHouseListItem"><span class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" class="btn btn-default btn-sm" confirmed-click="deleteOpenHouseListItem($index)" ng-confirm-click="Would you like to Delete?"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>

            </tr>
            <tr>
                <td>{{openHouseList.length +1}}</td>
                <td>
                    <input type="datetime-local" class="form-control input-sm" ng-model="OpenHouseBeginDate">
                </td>
                <td>
                    <input type="datetime-local" class="form-control input-sm" ng-model="OpenHouseEndDate">
                </td>
                <td>
                    <!--<select class="form-control input-sm" ng-model="ListingId">
                        <option value=""></option>
                        <option value="1">Rogger Building</option>
                    </select>-->
                    <select class="form-control input-sm" ng-model="Listing" ng-options="y.ListingName for (x, y) in listingList"></select>
                    <select class="form-control input-sm" ng-model="Agent" ng-options="y.AgentName for (x, y) in agentList"></select>

                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" confirmed-click="addOpenHouseListItem()" ng-confirm-click="Would you like to Insert?" ng-disabled="OpenHouseBeginDate==null || OpenHouseEndDate==null || Listing==null"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>