<h3>LISTING ITEMS</h3>

<div ng-controller="listingCtrl">
    <table class="table table-bordered table-hover" ng-init="onListingInIt()">
        <!--ng-init="OnMainInIt()"-->
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>#</th>
                <th>
                    Listing Name
                </th>
                <th>
                    Listing Address
                </th>
                <th>Agent Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="list in listingList">
                <td>{{$index+1}}</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="list.ListingName" ng-disabled="!list.editListingItem">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="list.ListingAddress" ng-disabled="!list.editListingItem">
                </td>
                <td>
                    <select class="form-control input-sm" ng-model="list.AgentId" ng-disabled="!list.editListingItem">
                        <option value=""></option>
                        <option value="1">John</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-if="!list.editListingItem" ng-click="list.editListingItem = !list.editListingItem">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-if="list.editListingItem" ng-click="updateListingItem($index)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-if="list.editListingItem" ng-click="list.editListingItem = !list.editListingItem">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteListingItem($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>


                </td>

            </tr>
            <tr>
                <td>{{listingList.length + 1}}</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="ListingName">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="ListingAddress">
                </td>
                <td>
                    <select class="form-control input-sm" ng-model="AgentId">
                        <option value=""></option>
                        <option value="1">John</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="addListingItem()" ng-disabled="ListingName.length==0 || ListingAddress.length==0 || AgentId.length==0">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>