<h1>Listing Items</h1>
<div ng-controller="listingCtrl">
    <table class="table table-bordered table-hover">
        <!--ng-init="OnMainInIt()"-->
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>
                    Listing Name
                </th>
                <th>
                    Listing Address
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="list in listingList">
                <td>
                    <input type="text" class="form-control input-sm" ng-model="list.ListingName" ng-disabled="!list.editListingItem">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="list.ListingAddress" ng-disabled="!list.editListingItem">
                </td>
                <td>

                    <button type="button" class="btn btn-default btn-sm" ng-if="!list.editListingItem" ng-click="list.editListingItem = !list.editListingItem">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-if="list.editListingItem" ng-click="updateListingItem($index)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-if="list.editListingItem" ng-click="list.editListingItem = !list.editListingItem">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteListingItem($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>


                </td>

            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="addListingName">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="addListingAddress">
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="addListingItem()" ng-disabled="addListingName.length==0 || addListingAddress.length==0">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>